* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Definimos nuestros estandares generales en tamaño y margenes de nuestro contenido */
html {
    font-size: 62.5%; 
}
header {
    font-size: 2.1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.container {
    width: 40rem;
    height: 50rem;
    margin: auto;
    /* background-color: #c6c6c6c6; */
    border-radius: 1rem;
}
.resultado {
    margin: auto;
    width: 90%;
    height: 10rem;
    padding-top: .5rem;
    background-color: #b6b6b6;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top: solid .2rem black;
    border-right: solid .2rem black;
    border-left: solid .2rem black;
}
#resultado {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin: auto;
    width: 30rem;
    height: 8.5rem;
    line-height: 100px;
    background-color: white;
    border-radius: 2.5rem;
    overflow-y: scroll;
    border: solid .1rem grey;
}
.items {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 80%;
    background-color: #b6b6b6b6;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: solid .2rem black;
}
.numbers {
    /* display: flex; */
    margin-top: 2rem;
    width: 22rem;
    height: 40rem;
    /* justify-content: center; */
    /* align-items: center; */
}
.numeros {
    border-radius: 1rem;
    font-size: 2rem;
    width: 7rem;
    height: 7rem;
    background-color: #f0ffff;
}
.operator {
    margin-top: 2rem;
    width: 20%;
    height: 40rem;
}
.operadores {
    /* width: 6rem;
    height: 5rem; */
    border-radius: 1rem;
    font-size: 2rem;
    background-color: #00ffff;
}
.especial {
    width: 100%;
    display: flex;
}
.especial #zero {
    width: 14.2rem;
    margin-right: .4rem;
}
.especial .operadores {
    width: 7rem;
    height: 7rem;
    margin-right: .4rem;
}
.operator .operadores {
    width: 7rem;
    height: 7rem;
}
.operator #suma {
    height: 14rem;
}
.operator #igual {
    height: 14rem;
}
footer {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}